<div class="container">
<h4 class="justify-content-between align-items-center mb-3">
  <span class="text-muted">Your cart</span>
  <span class="badge badge-secondary badge-pill">{{totalitems}}</span>
</h4>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th >Product</th>
            <th class="text-center">Price</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i = index " >
            <td class="col-sm-8 col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#">
                  <img class="media-object" src="{{item.img}}" style="width: 72px; height: 72px;"> </a>
                <div class="media-body">
                  <h4 class="media-heading ">{{item.name}}</h4>
                </div>
              </div>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>$350</strong>
            </td>
            <td class="col-sm-1 col-md-1">
              <button  class="btn btn-danger btn-sm"(click)="removeProduct(i)">
                <span class="glyphicon glyphicon-remove"></span> Remove
              </button>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>
              <h5>Subtotal</h5>
            </td>
            <td class="text-right">
              <h5>
                <strong>${{subtotal}}</strong>
              </h5>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>
              <h5>Estimated shipping</h5>
            </td>
            <td class="text-right">
              <h5>
                <strong>$6.94</strong>
              </h5>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>
              <h3>Total</h3>
            </td>
            <td class="text-right">
              <h3>
                <strong>${{total}}</strong>
              </h3>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>
              <button  class="btn btn-default" *ngIf="authService.loggedIn()" [routerLink]="['/products']">
                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-success" *ngIf="authService.itemslenth()"(click)="checkout()">
                Checkout
                <span class="glyphicon glyphicon-play"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>